<input type="text" name="q" id="query" />
<script type="text/javascript">
  new Autocomplete('query', { serviceUrl:'service/autocomplete.ashx' });
</script>

<div class="autocomplete-w1">
  <div class="autocomplete-w2">
    <div style="width:299px;" id="Autocomplete_query" class="autocomplete">
      <div><strong>Li</strong>beria</div>
      <div><strong>Li</strong>byan Arab Jamahiriya</div>
      <div><strong>Li</strong>echtenstein</div>
      <div class="selected"><strong>Li</strong>thuania</div>
    </div>
  </div>
</div>