<%= image_tag("whiskey.jpg", :alt => "Bonvee", :class=> "left") %>

<p>
Have we met? If so, login above. If not, welcome!
</p>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae ornare neque. Mauris mi ante, adipiscing ut ullamcorper eu, placerat non libero. Vivamus vel orci non ligula dapibus accumsan. Integer vel tellus et lacus laoreet euismod. Ut tincidunt mattis gravida. Sed odio nisl, malesuada quis gravida ut, varius in odio. Aliquam neque tellus, eleifend et tincidunt et, volutpat ac elit. 	
</p>
<h1>...it's time to live the good life.</h1>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

